<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=" stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photos</a>
    </nav>
    <div>
        <h1>Algunas fotos de Tony Hawk</h1>
        <p>Mejores fotos de Tony Hawk</p>
    </div>
    <div class="tricks">
        <img src="/images/truco 1.jpg" alt="">
        <img src="/images/truco2.jpg" alt="">
        <img src="/images/truco3.jpg" alt="">
    </div>
</body>
</html>