<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works page</title>
    <link rel=" stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photos</a>
    </nav>
    
    <div>
        <h1>Mejores trucos</h1>
        <p>Trucos que inventó Tony Hawk</p>
    </div>
    <div class="trucos">
        <ul>
            <li>Backside Varial</li>
            <li>Varial to Fakie</li>
            <li>Fs Half Cab </li>
            <li>Shove-it Rock-n-roll</li>
            <li>360 Varial</li>
        </ul>
    </div>
</body>
</html>